create-mashines.sh
transfer-files.sh
install-compose.sh
buildnpush.sh
deploy.sh
stop.sh
close-rpis.sh
start-docker-machines.sh
swarm-init.sh
logs/
GPIO/
Robot1/RobotControllerMs/Controller/__pycache__/
Robot1/RobotControllerMs/Services/__pycache__/
Robot1/RobotControllerMs/unix_sockets/__pycache__/
Robot1/Robot1_Coordinator/.idea/
Robot1/Robot1_Coordinator/.mvn/
Robot1/Robot1_Coordinator/target/
Robot2/Robot2_Coordinator/Robot2_Coordinator.iml
Robot2/RobotControllerMs/Controller/__pycache__/
Robot2/RobotControllerMs/Services/__pycache__/
Robot2/RobotControllerMs/unix_sockets/__pycache__/
Robot2/Robot2_Coordinator/.idea/
Robot2/Robot2_Coordinator/.mvn/
Robot2/Robot2_Coordinator/target/
Robot3/RobotControllerMs/Controller/__pycache__/
Robot3/RobotControllerMs/Services/__pycache__/
Robot3/RobotControllerMs/unix_sockets/__pycache__/
Robot3/Worker_Task9/unix_sockets/__pycache__/
Robot3/Robot3_Coordinator/.idea/
Robot3/Robot3_Coordinator/.mvn/
Robot3/Robot3_Coordinator/target/
Workbench1/Workbench1_Coordinator/.idea/
Workbench1/Workbench1_Coordinator/.mvn/
Workbench1/Workbench1_Coordinator/target/
Workbench2/Workbench2_Coordinator/target/
Workbench2/Workbench2_Coordinator/.idea/
Workbench2/Workbench2_Coordinator/.mvn/
configurator/.mvn/
configurator/configurator.iml
configurator/target/
configurator/.idea/
Robot1/Robot1_Coordinator/.classpath
Robot1/Robot1_Coordinator/.factorypath
Robot1/Robot1_Coordinator/.project
Robot1/Robot1_Coordinator/.settings/
Robot2/Robot2_Coordinator/.classpath
Robot2/Robot2_Coordinator/.factorypath
Robot2/Robot2_Coordinator/.project
Robot2/Robot2_Coordinator/.settings/
Robot3/Robot3_Coordinator/.classpath
Robot3/Robot3_Coordinator/.factorypath
Robot3/Robot3_Coordinator/.project
Robot3/Robot3_Coordinator/.settings/
Workbench1/Workbench1_Coordinator/.classpath
Workbench1/Workbench1_Coordinator/.project
Workbench1/Workbench1_Coordinator/.settings/
Workbench2/Workbench2_Coordinator/.classpath
Workbench2/Workbench2_Coordinator/.factorypath
Workbench2/Workbench2_Coordinator/.project
Workbench2/Workbench2_Coordinator/.settings/
Workbench2/Workbench2_Coordinator/Workbench2_Coordinator.iml
configurator/.classpath
configurator/.project
configurator/.settings/