create-mashines.sh
transfer-files.sh
install-compose.sh
buildnpush.sh
deploy.sh
stop.sh
logs/
Robot1/RobotControllerMs/Controller/__pycache__/
Robot1/RobotControllerMs/Services/__pycache__/
Robot1/RobotControllerMs/unix_sockets/__pycache__/
Robot1/Robot1_Coordinator/.idea/
Robot1/Robot1_Coordinator/.mvn/
Robot1/Robot1_Coordinator/target/
Robot2/Robot2_Coordinator/.idea/
Robot2/Robot2_Coordinator/.mvn/
Robot2/Robot2_Coordinator/target/
Robot3/Robot3_Coordinator/.idea/
Robot3/Robot3_Coordinator/.mvn/
Robot3/Robot3_Coordinator/target/
Workbench1/Workbench1_Coordinator/.idea/
Workbench1/Workbench1_Coordinator/.mvn/
Workbench1/Workbench1_Coordinator/target/
Workbench2/Workbench2_Coordinator/target/
Workbench2/Workbench2_Coordinator/.idea/
Workbench2/Workbench2_Coordinator/.mvn/
configurator/.mvn/
configurator/target/
configurator/.idea/
configurator/